.largura_div {
    width: 100%;
}
.altura_50 {
    height: 50px;
}
.altura_400 {
    height: 400px;
}
.largura_50 {
    height: 50px;
}
.cor_1{
    color: red;
}
.cor_2{
    color: blue;
}
.cor_3{
    color: yellow;
}